<div class="app-row" @slideIn>
  <h1 class="slide-in jumbo center" [innerHTML]="contactMe.title"></h1>
  <div class="text">
    <ng-container *ngFor="let text of contactMe.text">
      <p *ngIf="text.type === 'p'" [innerHTML]="text.content" class="slide-in"></p>
    </ng-container>
  </div>
  <div class="text flex-column">
    <ng-container *ngFor="let link of contactMe.links">
      <a [href]="link.url" target="_blank" class="slide-in mt-20" [innerHTML]="link.text"></a>
    </ng-container>
  </div>

</div>
