<div class="text form-box mt-50">
  <mat-tab-group #matTabGroup (selectedTabChange)="changedTab($event.tab.labelClass)">
    <mat-tab label="Links" [labelClass]="MyRoutes.LINKS">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.LINKS) && service.linksForm as f" class="flex-column">
        <mat-form-field hintLabel="These are the main links on the homepage.">
          <mat-label>Greeting</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <div>
          <h2>Cards</h2>
          <div *ngFor="let control of formArray(f, 'links').controls as controls; index as i" class="flex-column">
            <h3>Item {{ i + 1 }}</h3>
            <mat-form-field>
              <mat-label>position</mat-label>
              <input matInput [formControl]="formControl(control, 'index')">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Text to show</mat-label>
              <input matInput [formControl]="formControl(control, 'name')">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Text as subtitle</mat-label>
              <input matInput [formControl]="formControl(control, 'subTitle')">
            </mat-form-field>
            <mat-form-field>
              <mat-checkbox [formControl]="formControl(control, 'external')">Custom url?</mat-checkbox>
              <mat-label>Url it points to</mat-label>
              <ng-container *ngIf="{ external: formControl(control, 'external').value } as _">
                <mat-select *ngIf="!_.external" [formControl]="formControl(control, 'url')">
                  <mat-option *ngFor="let route of Routes; index as i" [value]="Routes[i]">
                    /{{ RouteKeys[i] }}</mat-option>
                </mat-select>
                <input matInput *ngIf="_.external" [formControl]="formControl(control, 'url')" />
              </ng-container>
            </mat-form-field>
            <mat-form-field>
              <mat-label>image</mat-label>
              <mat-select [formControl]="formControl(control, 'image')">
                <mat-option *ngFor="let image of images; index as i" [value]="image.url" class="image-select">
                  <img [src]="image.url" height="150" [alt]="image.name" />
                  {{ image.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <hr>
            <button mat-button (click)="formArray(f, 'links').removeAt(i)" class="mat-error">remove item {{ i + 1
              }}</button>
          </div>
          <button mat-button (click)="addLinkControl(formArray(f, 'links'))" class="mat-accent">+ add item</button>
        </div>
        <button mat-button (click)="saveLinksForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="Home" [labelClass]="MyRoutes.HOME">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.HOME) && service.homeForm as f" class="flex-column">
        <mat-form-field hintLabel="This is the name of the website, the page title.">
          <mat-label>Name of the website</mat-label>
          <input matInput formControlName="pageTitle">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mobile tap message</mat-label>
          <input matInput formControlName="mobileTap">
        </mat-form-field>
        <div>
          <h2>Title</h2>
          <div *ngFor="let control of formArray(f, 'title').controls as controls; index as i" class="flex-column">
            <h3>Item {{ i + 1 }}</h3>
            <mat-checkbox [formControl]="formControl(control, 'accent')">With accent</mat-checkbox>
            <mat-form-field>
              <mat-label>position</mat-label>
              <input matInput [formControl]="formControl(control, 'index')">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Text to show</mat-label>
              <input matInput [formControl]="formControl(control, 'text')">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Text to show on hover</mat-label>
              <input matInput [formControl]="formControl(control, 'textHover')">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Url it points to</mat-label>
              <mat-select [formControl]="formControl(control, 'url')">
                <mat-option *ngFor="let route of Routes; index as i" [value]="Routes[i]">{{ RouteKeys[i] }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Small text on the right?</mat-label>
              <input matInput [formControl]="formControl(control, 'mini')">
            </mat-form-field>
            <hr>
            <button mat-button (click)="formArray(f, 'title').removeAt(i)" class="mat-error">remove item {{ i + 1
              }}</button>
          </div>
          <button mat-button (click)="addTitleControl(formArray(f, 'title'))" class="mat-accent">+ add item</button>
        </div>
        <button mat-button (click)="saveHomeForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="About" [labelClass]="MyRoutes.ABOUT">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.ABOUT) && service.aboutForm as f" class="flex-column">
        <h2>Title</h2>
        <!------------------------------------------->
        <div class="flex-column" style="margin-left: 20px">
          <mat-label>First</mat-label>
          <div *ngFor="let first of formArray(f, 'title.first').controls; index as i" class="flex-row">
            <mat-form-field>
              <!--suppress AngularInvalidExpressionResultType -->
              <input matInput [formControl]="first">
            </mat-form-field>
            <button mat-button (click)="formArray(f, 'title.first').removeAt(i)" class="mat-error">remove FIRST item {{
              i + 1 }}</button>
          </div>
          <button mat-button (click)="addFormControl(formArray(f, 'title.first'))" class="mat-accent">+ add FIRST item
          </button>
        </div>
        <!------------------------------------------->
        <div class="flex-column" style="margin-left: 20px">
          <mat-label>Multi</mat-label>
          <div *ngFor="let multi of formArray(f, 'title.multi').controls; index as i" class="flex-row">
            <mat-form-field>
              <!--suppress AngularInvalidExpressionResultType -->
              <input matInput [formControl]="multi">
            </mat-form-field>
            <button mat-button (click)="formArray(f, 'title.multi').removeAt(i)" class="mat-error">remove MULTI item {{
              i + 1 }}</button>
          </div>
          <button mat-button (click)="addFormControl(formArray(f, 'title.multi'))" class="mat-accent">+ add MULTI item
          </button>
        </div>
        <!------------------------------------------->
        <div class="flex-column" style="margin-left: 20px">
          <mat-label>Last</mat-label>
          <div *ngFor="let last of formArray(f, 'title.last').controls; index as i" class="flex-row">
            <mat-form-field>
              <!--suppress AngularInvalidExpressionResultType -->
              <input matInput [formControl]="last">
            </mat-form-field>
            <button mat-button (click)="formArray(f, 'title.last').removeAt(i)" class="mat-error">remove LAST item {{ i
              + 1 }}</button>
          </div>
          <button mat-button (click)="addFormControl(formArray(f, 'title.last'))" class="mat-accent">+ add LAST item
          </button>
        </div>
        <!------------------------------------------->
        <hr>
        <ng-container *ngTemplateOutlet="textContent;context:{form: f}"></ng-container>
        <button mat-button (click)="saveAboutForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="Contact" [labelClass]="MyRoutes.CONTACT">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.CONTACT) && service.contactForm as f" class="flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [formControl]="formControl(f, 'title')">
        </mat-form-field>
        <hr>
        <ng-container *ngTemplateOutlet="textContent;context:{form: f}"></ng-container>
        <ng-container *ngTemplateOutlet="linkContent;context:{form: f}"></ng-container>
        <button mat-button (click)="saveContactForm()">Save</button>
      </form>

    </mat-tab>
    <mat-tab label="Work Projects" [labelClass]="MyRoutes.WORK">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.WORK) && service.workForm as f" class="flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [formControl]="formControl(f, 'title')">
        </mat-form-field>
        <ng-container *ngTemplateOutlet="projectContent;context:{form: f}"></ng-container>
        <button mat-button (click)="saveWorkForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="Art Projects" [labelClass]="MyRoutes.ART">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.ART) && service.artForm as f" class="flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [formControl]="formControl(f, 'title')">
        </mat-form-field>
        <ng-container *ngTemplateOutlet="projectContent;context:{form: f}"></ng-container>
        <button mat-button (click)="saveArtForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="Stories" [labelClass]="MyRoutes.BLOG">
      <form [formGroup]="f" *ngIf="(currentTab === MyRoutes.BLOG) && service.blogForm as f" class="flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [formControl]="formControl(f, 'title')">
        </mat-form-field>
        <ng-container *ngTemplateOutlet="projectContent;context:{form: f}"></ng-container>
        <button mat-button (click)="saveBlogForm()">Save</button>
      </form>
    </mat-tab>
    <mat-tab label="UPLOAD" [labelClass]="MyRoutes.UPLOAD_IMAGE">
      <app-admin-upload-image></app-admin-upload-image>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #textContent let-form="form">
  <h2>Text</h2>
  <div *ngFor="let control of formArray(form, 'text').controls; index as i" class="flex-column border-box">
    <app-rich-text [imageList]="images" [control]="formControl(control, 'content')"></app-rich-text>
    <button mat-button (click)="formArray(form, 'text').removeAt(i)" class="mat-error">remove #{{ i + 1 }}</button>
  </div>
  <button mat-button (click)="addFormControl(formArray(form, 'text'), service.textContent({}))" class="mat-accent">
    + add content item
  </button>
</ng-template>

<ng-template #linkContent let-form="form">
  <h2>Links</h2>
  <div *ngFor="let control of formArray(form, 'link').controls; index as i" class="flex-column border-box">
    <mat-form-field>
      <mat-label>Title / Label</mat-label>
      <input matInput [formControl]="formControl(control, 'text')" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput [formControl]="formControl(control, 'url')" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>attr-title</mat-label>
      <input matInput [formControl]="formControl(control, 'title')">
    </mat-form-field>
    <!--    <mat-checkbox [formControl]="formControl(control, 'blank')">_blank</mat-checkbox>-->
    <mat-form-field>
      <mat-label>Icon</mat-label>
      <mat-select [formControl]="formControl(control, 'icon')">
        <mat-option *ngFor="let icon of icons" [value]="icon">
          {{ icon }}<img [src]="'/assets/icons/' + icon + '.svg'" [alt]="icon" style="height: 30px;">
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="formArray(form, 'link').removeAt(i)" class="mat-error">remove link #{{ i + 1 }} {{
      formControl(control, 'text').value }}</button>
  </div>
  <button mat-button (click)="addFormControl(formArray(form, 'link'), service.linkContent({}))" class="mat-accent">+ add
    link
  </button>
</ng-template>


<ng-template #projectContent let-form="form">
  <div *ngFor="let control of formArray(form, 'projects').controls; index as i" class="flex-column border-box">
    <div *ngIf="{ visible: false } as _" class="flex-column">
      <button (click)="_.visible = !_.visible" class="mat-button" [style]="{
                 background: formControl(control, 'bgColor').value,
                 color:  formControl(control, 'textColor').value
               }" [innerHTML]="formControl(control, 'title').value || '&gt;NO TITLE YET&lt;'"></button>
      <div [class.hidden]="!_.visible" class="_box_ flex-column">
        <mat-form-field hintLabel="index">
          <mat-label>Index</mat-label>
          <input matInput [formControl]="formControl(control, 'index')" />
        </mat-form-field>
        <mat-form-field hintLabel="color for the background">
          <mat-label>Background color</mat-label>
          <mat-select [formControl]="formControl(control, 'bgColor')">
            <mat-option *ngFor="let color of service.colors" [value]="color"
              [style]="'background-color:' + color + '; color:' + color">{{ color }}</mat-option>
          </mat-select>
          <span matSuffix
            [style]="'background-color: ' + formControl(control, 'bgColor').value + ';height: 50px;width: 50px; float: right; display: inline-block'"></span>
        </mat-form-field>
        <mat-form-field hintLabel="color for the text">
          <mat-label>Text color</mat-label>
          <mat-select [formControl]="formControl(control, 'textColor')">
            <mat-option value="black">black</mat-option>
            <mat-option value="white">white</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field hintLabel="title of the project">
          <mat-label>Project Name</mat-label>
          <input matInput [formControl]="formControl(control, 'title')" />
        </mat-form-field>
        <mat-form-field hintLabel="short text to show near the title in the project list page">
          <mat-label>Project Summary</mat-label>
          <input matInput [formControl]="formControl(control, 'summary')" />
        </mat-form-field>
        <mat-form-field hintLabel="the internal URL to access the project view">
          <mat-label>URL to the page</mat-label>
          <input matInput [formControl]="formControl(control, 'url')" />
        </mat-form-field>
        <mat-form-field hintLabel="external URL to this project">
          <mat-label>URL to the project (http:..)</mat-label>
          <input matInput [formControl]="formControl(control, 'link')" />
        </mat-form-field>
        <mat-form-field hintLabel="an image source for the project list page">
          <mat-label>Image</mat-label>
          <mat-select [formControl]="formControl(control, 'image')">
            <mat-option *ngFor="let image of images; index as i" [value]="image.url" class="image-select">
              <img [src]="image.url" height="150" [alt]="image.name" />
              {{ image.name }}
            </mat-option>
          </mat-select>
          <img matSuffix *ngIf="formControl(control, 'image').value as src" [src]="src" height="60"
            alt="Preview image" />
        </mat-form-field>
        <h4>Description of project</h4>
        <app-rich-text [imageList]="images" [control]="formControl(control, 'content')"></app-rich-text>
        <button mat-button (click)="formArray(form, 'projects').removeAt(i)" class="mat-error">
          remove project #{{ i + 1}} {{ formControl(control, 'title').value }}
        </button>
      </div>
    </div>
  </div>
  <button mat-button (click)="addProjectControl(form)" class="mat-accent">+ add project
  </button>
</ng-template>
