<div class="app-row">
  <app-back-title [url]="RouteUrls.HOME" [huge]="false">login</app-back-title>

  <form [formGroup]="form" (ngSubmit)="login()" class="form">
    <div class="row">
      <label>
        Name
      </label>
      <input formControlName="username"/>
    </div>
    <div class="row">
      <label>
        Password
      </label>
      <input formControlName="password" type="password"/>
    </div>
    <div class="row">
      <button mat-button>login</button>
    </div>
    <div *ngIf="loginError">
      {{ loginError }}
    </div>
  </form>
</div>
