$margin: 0;

@while $margin <= 30 {
  //.mb-#{$margin} {
  //  margin-bottom: #{$margin}px !important;
  //}

  //.mt-#{$margin} {
  //  margin-top: #{$margin}px !important;
  //}

  //.ml-#{$margin} {
  //  margin-left: #{$margin}px !important;
  //}

  //.mr-#{$margin} {
  //  margin-right: #{$margin}px !important;
  //}

  //.mx-#{$margin} {
  //  margin-left: #{$margin}px !important;
  //  margin-right: #{$margin}px !important;
  //}

  .my-#{$margin} {
    margin-top: #{$margin}px !important;
    margin-bottom: #{$margin}px !important;
  }

  $margin: $margin + 10;
}
