<div class="app-row with-margin" @slideIn>
  <h1 class="jumbo slide-in center">
    <span class="accent">{{ aboutPage.title.first }}</span>
    <br>
    <span [innerHTML]="aboutPage.title.multi[plusIndex]"></span>
    <br>
    <span class="accent">{{ aboutPage.title.last }}</span>{{ aboutPage.title.period }}
  </h1>
  <div class="text">
    <ng-container *ngFor="let text of aboutPage.text">
      <hr *ngIf="text.type === 'hr'" class="slide-in">
      <p *ngIf="text.type === 'p'" [innerHTML]="text.content" class="slide-in"></p>
      <img *ngIf="text.type === 'img'" [src]="text.content" class="slide-in" [alt]="text.extra.alt"/>
    </ng-container>
    <p class="slide-in">Currently reading
      <ng-container *ngIf="!shelf.reading">some books...</ng-container>
      <ng-container *ngIf="shelf.reading" [ngSwitch]="shelf.reading.length">
        <ng-container *ngSwitchCase="0">no books.</ng-container>
        <ng-container *ngSwitchCase="1">one book.</ng-container>
        <ng-container *ngSwitchDefault>
          {{ shelf.reading.length }} books, among them {{ shelf.reading[0].title }}.
        </ng-container>
      </ng-container>
      You can see them <a [routerLink]="'/' + Routes.Reading">here</a>.
    </p>


  </div>
  <app-carousel
    *ngIf="shelf.read"
    class="mt-20"
    [books]="shelf.read"
    [title]="title"
    [wrap]="true"
    [totalBooks]="shelf.totalRead"
    [lastBook]="lastBook"
  ></app-carousel>

</div>
