<div class="app-row with-margin" @slideIn>
  <h1 class="jumbo slide-in center landing">
    <span class="accent" [innerHTML]="aboutPage.title.first"></span>
    <br>
    <span class="plus-box">
      <span
        *ngFor="let multi of aboutPage.title.multi; index as i"
        [innerHTML]="multi"
        [class.shown]="plusIndex === i"
      ></span>
    </span>
    <br>
    <span class="accent" [innerHTML]="aboutPage.title.last"></span>{{ aboutPage.title.period }}
  </h1>
  <app-text [text]="aboutPage.text" class="text"></app-text>

  <p class="text slide-in">Currently reading
    <ng-container *ngIf="!shelf.reading">some books...</ng-container>
    <ng-container *ngIf="shelf.reading" [ngSwitch]="shelf.reading.length">
      <ng-container *ngSwitchCase="0">no books.</ng-container>
      <ng-container *ngSwitchCase="1">one book.</ng-container>
      <ng-container *ngSwitchDefault>
        {{ shelf.reading.length }} books, among them {{ shelf.reading[0].title }}.
      </ng-container>
    </ng-container>
    You can see them <a [routerLink]="'/' + Routes.Reading">here</a>.
<!--    <span class="reading-now">-->
<!--      <span-->
<!--        *ngFor="let now of shelf.reading; index as i"-->
<!--        class="reading-now-img"-->
<!--        [style]="'background-image: url(' + now.image + ');margin-left:' + ( i * 20 ) + 'px'"-->
<!--      ></span>-->
<!--    </span>-->
  </p>


  <app-carousel
    *ngIf="shelf.read"
    class="mt-50"
    [books]="shelf.read"
    [title]="title"
    [wrap]="true"
    [totalBooks]="shelf.totalRead"
    [lastBook]="lastBook"
  ></app-carousel>

</div>

