<div *ngFor="let control of formArray(form, 'projects').controls; index as i" class="flex-column border-box">
  <div *ngIf="{ visible: false } as _" class="flex-column">
    <button (click)="_.visible = !_.visible" class="mat-button" [style]="{
               background: formControl(control, 'bgColor').value,
               color:  formControl(control, 'textColor').value
             }" [innerHTML]="formControl(control, 'title').value || '&gt;NO TITLE YET&lt;'"></button>
    <div [class.hidden]="!_.visible" class="_box_ flex-column">
      <mat-form-field hintLabel="index">
        <mat-label>Index</mat-label>
        <input matInput [formControl]="formControl(control, 'index')" />
      </mat-form-field>
      <mat-form-field hintLabel="color for the background">
        <mat-label>Background color</mat-label>
        <mat-select [formControl]="formControl(control, 'bgColor')">
          <mat-option *ngFor="let color of service.colors" [value]="color"
            [style]="'background-color:' + color + '; color:' + color">{{ color }}</mat-option>
        </mat-select>
        <span matSuffix
          [style]="'background-color: ' + formControl(control, 'bgColor').value + ';height: 50px;width: 50px; float: right; display: inline-block'"></span>
      </mat-form-field>
      <mat-form-field hintLabel="color for the text">
        <mat-label>Text color</mat-label>
        <mat-select [formControl]="formControl(control, 'textColor')">
          <mat-option value="black">black</mat-option>
          <mat-option value="white">white</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field hintLabel="title of the project">
        <mat-label>Project Name</mat-label>
        <input matInput [formControl]="formControl(control, 'title')" />
      </mat-form-field>
      <mat-form-field hintLabel="short text to show near the title in the project list page">
        <mat-label>Project Summary</mat-label>
        <input matInput [formControl]="formControl(control, 'summary')" />
      </mat-form-field>
      <mat-form-field hintLabel="the internal URL to access the project view">
        <mat-label>URL to the page</mat-label>
        <input matInput [formControl]="formControl(control, 'url')" />
      </mat-form-field>
      <mat-form-field hintLabel="external URL to this project">
        <mat-label>URL to the project (http:..)</mat-label>
        <input matInput [formControl]="formControl(control, 'link')" />
      </mat-form-field>
      <mat-form-field hintLabel="an image source for the project list page">
        <mat-label>Image</mat-label>
        <mat-select [formControl]="formControl(control, 'image')">
          <mat-option *ngFor="let image of images; index as i" [value]="image.url" class="image-select">
            <img [src]="image.url" height="150" [alt]="image.name" />
            {{ image.name }}
          </mat-option>
        </mat-select>
        <img matSuffix *ngIf="formControl(control, 'image').value as src" [src]="src" height="60"
          alt="Preview image" />
      </mat-form-field>
      <h4>Description of project</h4>
      <app-rich-text [imageList]="images" [control]="formControl(control, 'content')"></app-rich-text>
      <button mat-button (click)="formArray(form, 'projects').removeAt(i)" class="mat-error">
        remove project #{{ i + 1}} {{ formControl(control, 'title').value }}
      </button>
    </div>
  </div>
</div>
<button mat-button (click)="addProjectControl(form)" class="mat-accent">+ add project
</button>
