@import 'globals';
@import 'mixins';
@import 'breakpoints';

:host {
  //noinspection CssInvalidPseudoSelector
  ::ng-deep .project-image {
    $min-height: 350px;
    $max-height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    //min-height: $min-height;
    //max-height: $max-height;
    @include fluid-type($breakpoint-mobile-sm, $breakpoint-max-width, $min-height, $max-height, 'max-height');
    display: flex;
    width: auto;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;


    //> .project-image-img {
    //  max-height: $max-height;
      //visibility: hidden;
      //display: none;
    //}
  }


  //noinspection CssInvalidPseudoSelector
  ::ng-deep .project-content {
    /*!* */
    > p {
      display: flex;
      flex-direction: column;
    }
  }

  //noinspection CssInvalidPseudoSelector
  ::ng-deep .project-link {
    @include transitions();

    &:hover {
      margin-left: $small-indent-hover;
    }
  }

  //noinspection CssInvalidPseudoSelector
  ::ng-deep {
    .external {
      top: 5px;
      position: relative;
      opacity: 0.3;
      height: $app-font-size;
      margin-left: $app-font-size;
    }
  }

  .back-button {
    font-size: $book-font-size;
    text-align: center;
    display: block;
    margin-top: $book-font-size;
    margin-bottom: $app-row-bottom;
    position: relative;

    &:before {
      height: $book-font-size;
      background-size: $book-font-size;
    }
  }
}

@if ($project-transparent-images) {
  //noinspection CssInvalidPseudoSelector
  .app-row.desktop ::ng-deep .project-image {

    filter: brightness($project-transparent-images);
    @include transitions();

    &:hover {
      filter: brightness(100%);
    }
  }
}
