@import 'globals';

:host {

  .project-item {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: $paragraph-margin;
  }

  .project-item-text {
    flex: 0 0 $project-item-width;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .project-list-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 1 $project-image-width;
  }

}
