.project-image {
  background-position: center;
  background-size: cover;
  min-height: 300px;
  max-height: 500px;
  display: inline-block;
  width: 100%;
}
.project-title {

}
.project-content {

}
