$white: #fff;
$black: #050505;
$pink: #c80064;
$sunflower: #f1c40f;

$yellow2: rgb(154,125,51);

$box-shadow: #666;

$text-color: $white;
$app-background: $black;


$primary-color: $sunflower;
$primary-color-text: $black; // a color for the text showing IN the primary color
