@import 'colors';

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $property: font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      #{$property}: $min-font-size;
      @media screen and (min-width: $min-vw) {
        #{$property}: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        #{$property}: $max-font-size;
      }
    }
  }
}

@mixin transitions($time_property: 0.4s all) {
  transition: $time_property;
}

@mixin no_select() {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin box_shadow($color: $box-shadow, $size: 4px) {
  -webkit-box-shadow: 0 0 $size 0 $color;
  -moz-box-shadow: 0 0 $size 0 $color;
  box-shadow: 0 0 $size 0 $color;
}

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
