@import 'colors';
@import 'globals';
@import 'breakpoints';
@import 'images';
@import 'mixins';

body {
  //font-family: Maven Pro, "Helvetica Neue", sans-serif;
  font-family: Manrope, "Helvetica Neue", sans-serif;
  //font-family: Sora, "Helvetica Neue", sans-serif;
  font-size: $app-font-size;
  background: $app-background;
  color: $text-color;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  font-size: $app-font-size;
  height: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.no-style {
    text-decoration: none;
    color: inherit;
  }
}

.app-row {
  width: calc(100% - #{$name-logo-left * 2});
  display: flex;
  flex-direction: column;
  margin: $app-row-top auto 0;

  .text {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
    max-width: $breakpoint-mobile;

    p {
      margin: $paragraph-margin auto;
    }
  }

  @media(max-width: $breakpoint-mobile) {
    width: $app-row-width-sm;
    .text {
      padding: 0 0;
    }
  }
}

.bottom-padding {
  padding-bottom: $app-row-bottom;
}

.back-title {
  $title-back: 50px;
  &:before {
    @include transitions();
    content: "";
    background-image: url($image-back);
    height: $title-back;
    display: inline-block;
    position: relative;
    left: 0;
    background-position: left;
    background-size: $title-back;
    width: 0;
    opacity: 0;
    margin-right: $title-back/2;
    background-repeat: no-repeat;
  }

  &:hover:before {
    opacity: 1;
    width: $title-back;
  }
}

.app-row, .fluid {
  @include fluid-type($breakpoint-mobile-sm - 100px, $breakpoint-max-width, 15px, $app-font-size);
}
