@import 'colors';
@import 'globals';
@import 'breakpoints';
@import 'images';
@import 'mixins';

body {
  //font-family: Maven Pro, "Helvetica Neue", sans-serif;
  font-family: Manrope, "Helvetica Neue", sans-serif;
  //font-family: Sora, "Helvetica Neue", sans-serif;
  background: $app-background;
  color: $text-color;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include transitions();

  &.black {
    color: $black;
  }
}

html, body {
  font-size: $app-font-size;
  height: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.no-style {
    text-decoration: none;
    color: inherit;
  }
}

.app-row {
  width: calc(100% - #{$app-box-padding * 2});
  display: flex;
  flex-direction: column;
  margin: $app-row-top auto 0;

  .text {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
    max-width: $app-content-max-width;

    p {
      margin: $paragraph-margin auto;
    }
  }

  @media(max-width: $breakpoint-mobile) {
    width: $app-row-width-sm;
    .text {
      padding: 0 0;
    }
  }
}

.bottom-padding {
  padding-bottom: $app-row-bottom;
}

.back-title {
  $title-back: 50px;
  &:before {
    @include transitions();
    content: "";
    background-image: url($image-back);
    height: $title-back;
    display: inline-block;
    position: relative;
    left: 0;
    background-position: left;
    background-size: $title-back;
    width: 0;
    opacity: 0;
    margin-right: $title-back/2;
    background-repeat: no-repeat;
  }

  &:hover:before {
    opacity: 1;
    width: $title-back;
  }
}

.black .back-title:before {
  filter: brightness(0);
}

.app-row, .fluid {
  @include fluid-type($breakpoint-mobile-sm - 100px, $breakpoint-max-width, 15px, $app-font-size);
}


.project-image {
  $min-height: 350px;
  $max-height: 600px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include fluid-type($breakpoint-mobile-sm, $breakpoint-max-width, $min-height, $max-height, 'max-height');
  display: flex;
  width: auto;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  @include transitions();

  &.center {
    max-height: initial;
  }

  @media (min-width: $breakpoint-max-width) {
    &.center {
      width: $project-content-image-width;
      max-width: 100vw;
      margin-left: -1 * ( $project-content-image-width - $app-content-max-width ) / 2;
    }
  }
}
