@import 'colors';
@import 'breakpoints';
@import 'images';
@import 'globals';
@import 'mixins';

$name-logo-width: 13rem;

#name-logo {
  position: fixed;
  font-family: 'Monospaced', monospace;
  width: $name-logo-width;
  text-align: center;
  z-index: 1;
  @if ($name-logo-position == 'right') {
    left: calc(100% - #{$name-logo-right + $name-logo-width});
  } @else {
    left: $name-logo-left;
  }
  top: $name-logo-top;
  color: inherit;
  text-decoration: none;
  @include transitions();

  @media (orientation: landscape) and (max-width: $breakpoint-mobile) {
    top: $name-logo-top / 4;
  }

  .name-bg {
    //background: $app-background;
    //padding: 2px;
  }


  i {
    @include transitions();
    font-style: normal;
    opacity: 0;
  }

  &:hover {
    @if ($name-logo-position == 'right') {
      left: calc(100% - #{$name-logo-right + $name-logo-width + $name-logo-move-on-hover});
    } @else {
      left: $name-logo-move-on-hover;
    }

    i {
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    left: calc(50% - #{$name-logo-width / 2}); // centered
    &:hover {
      left: calc(50% - #{$name-logo-width / 2 + $name-logo-move-on-hover});
    }
  }
}

#authed {
  opacity: 0.05;
  position: fixed;
  text-decoration: none;
  top: 0;
  @include transitions();

  &:hover {
    opacity: 1;
  }
}

$star-position: 0px;
$star-size: 30px;
$star-icon-size: 15px;
#toggle-stars {
  @include transitions(1s);
  cursor: pointer;
  position: fixed;
  opacity: 0.3;
  bottom: $star-position;
  left: $star-position;
  height: $star-size;
  width: $star-size;
  display: flex;
  align-items: center;
  justify-content: center;
  #star {
    width: $star-icon-size;
    height: $star-icon-size;
  }

  &:hover, &.no-stars {
    @include transform(rotate(540deg));
  }
  &:hover {
    opacity: 1;
  }
}

:host-context(.project-view) app-stars {
  display: none;
}
