<a id="name-logo" routerLink="">
  <i>&nbsp;&nbsp;&nbsp;&nbsp;</i><span class="name-bg">nico<i>.</i>kupfer</span><i class="name-bg l1">.es/</i>
</a>

<router-outlet></router-outlet>

<app-stars *ngIf="stars"></app-stars>

<a (click)="toggleStars()" id="toggle-stars" [title]="stars ? 'Hide stars': 'Show stars'" [class.no-stars]="!stars">
  <img src="assets/icons/star.svg" id="star" alt="Toggle Star Background"/>
</a>

<span id="authed" *ngIf="auth">
  <a [routerLink]="absolute(key)" style="margin-right: 20px" *ngFor="let key of RouteKeys">{{ key }}</a>

  <a (click)="logout()">logout</a>
</span>
