$white: #fff;
$black: #111;
$pink: #c80064;
$yellow: #f5d500;
$yellow2: rgb(154,125,51);

$box-shadow: #666;

$text-color: $white;
$app-background: $black;


$primary-color: $yellow;
$primary-color-text: $white;
