@import 'colors';
@import 'globals';
@import 'breakpoints';

.w-100 {
  width: 100%
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.just-left {
  justify-content: left;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.accent {
  color: $primary-color
}

.accent-bg {
  background: $primary-color;
  color: $primary-color-text;
}

.progress {
  cursor: progress !important;
}

.loading {
  opacity: 0 !important;
}

.center {
  text-align: center;
}

.jumbo {
  font-size: $jumbo-font-size;
}

@media (max-width: $breakpoint-mobile){
  .jumbo {
    font-size: $jumbo-font-size-mobile;
  }
}

@media (max-width: $breakpoint-mobile-sm){
  .jumbo {
    font-size: $jumbo-font-size-mobile-sm;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
}

.secondary {
  opacity: 0.4;
}

.no-deco {
  text-decoration: none;
}

.mid-size {
  font-size: $jumbo-font-size-mobile;
}
