@import 'mixins';
@import 'colors';
@import 'globals';
@import 'breakpoints';

.w-100 {
  width: 100%
}

.relative {
  position: relative;
}

.v-hidden {
  visibility: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.just-left {
  justify-content: left;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.accent {
  color: $primary-color
}

.accent-bg {
  background: $primary-color;
  color: $text-color;
}

.progress {
  cursor: progress !important;
}

.loading {
  opacity: 0 !important;
}

.center {
  text-align: center;
}

.landing {
  margin-top: 30vh;
  max-height: 35vh;
  margin-bottom: 30vh;
}

.jumbo {
  font-weight: $bold;
  @include fluid-type($breakpoint-mobile-sm - 100px, $breakpoint-max-width, $h2-font-size, $jumbo-font-size);
}
.jumbo-huge {
  @include fluid-type($breakpoint-mobile-sm, $breakpoint-max-width, $h2-font-size, $jumbo-huge-font-size);
}

h2, .h2 {
  font-size: $h2-font-size;
}

.secondary {
  opacity: 0.4;
}

.no-deco {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.l1 {
  position: relative;
  left: -2px;
}

::selection {
  background-color: $primary-color;
  color: $text-color;
}

.slide-under {
  overflow: hidden;
}
