$app-font-size: 20px;
$jumbo-font-size: 110px;
$jumbo-font-size-mobile: 70px;
$jumbo-font-size-mobile-sm: 40px;
$name-logo-top: 80px;
$app-row-top: 140px;

$app-row-width: 75%;
$app-row-width-sm: 95%;

$app-row-text-padding: 50px;
