@import 'colors';

@mixin transitions($time: 0.4s, $property: all) {
  transition: $time $property;
}

@mixin no_select() {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin box_shadow($color: $box-shadow, $size: 4px) {
  -webkit-box-shadow: 0 0 $size 0 $color;
  -moz-box-shadow: 0 0 $size 0 $color;
  box-shadow: 0 0 $size 0 $color;
}

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
