@import 'colors';
@import 'globals';
@import 'breakpoints';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $app-font-size;
  background: $app-background;
  color: $text-color;
}

a {
  color: $primary-color;
  //text-decoration: underline;
  &:hover {
    text-decoration: none;
  }

  &.no-style {
    text-decoration: none;
    color: inherit;
  }
}

.app-row {
  width: calc(100% - #{$name-logo-left * 2});
  display: flex;
  flex-direction: column;
  margin: $app-row-top auto;

  .text {
    //padding: 0 $app-row-text-padding;
    margin: 0 auto;
    //margin: 0 auto 0 0;

    width: 90%;
    max-width: $breakpoint-mobile;
    //@media (min-width: $breakpoint-mobile) {
    //  max-width: $breakpoint-mobile;
    //}
  }

  @media(max-width: $breakpoint-mobile) {
    width: $app-row-width-sm;
    .text {
      padding: 0 0;
    }
  }
}

.with-margin {
  @if($content-with-margin) {

  }
  @else {
    margin-top: 0;
    margin-bottom: 0;
  }

}
