<div class="carousel-box latte-carousel" #carouselElement>
  <app-book class="book-card latte-item" *ngFor="let book of books" [book]="book"></app-book>
</div>
<span class="just-center pagination">
  <span class="my-30 pagination-title">{{ title }}</span>
  <span class="pagination-numbers">
      <button
        class="paginate left"
        (click)="prevItem()"
        [disabled]="!wrap && index === 1"
      ><i></i><i></i></button>
      <span class="pagination-counter">{{ index }} / {{ totalBooks || books.length }}</span>
      <button
        class="paginate right"
        (click)="nextItem()"
        [disabled]="!wrap && index === books.length"
      ><i></i><i></i></button>
    </span>
</span>
