@import 'breakpoints';
@import 'globals';

:host {
  display: flex;
  flex-direction: column;
}

.carousel-box {
  max-width: 2 * $breakpoint-mobile;
  margin: 0 auto;
}
.pagination-title {
  font-size: $book-font-size;
  @media (max-width: $breakpoint-mobile) {
    font-size: $app-font-size;
  }

  display: inline-flex;
  flex-wrap: wrap-reverse;
  .pagination {
    flex: 1 0 200px;
    align-items: center;
    justify-content: center;
  }
}
