<div @slideIn [@.disabled]="!projectSlideIn">
  <h1 class="jumbo center landing slide-in" [innerHTML]="myWork.title"></h1>
  <div class="app-row bottom-padding">
    <a
      *ngFor="let project of myWork.projects; index as i"
      class="project-item text no-deco slide-in"
      [routerLink]="'/' + RouteUrls.Projects + '/' + project.url"
    >
      <div class="project-item-text">
        <h2 class="my-0 project-name" [innerHTML]="project.title"></h2>
        <small class="accent project-summary" [innerHTML]="project.summary"></small>
      </div>
      <div class="project-list-image">
        <div [style]="'background-image: url(' + project.image + ')'" class="project-list-bg"></div>
      </div>
    </a>
  </div>
</div>
