@import 'globals';
@import 'mixins';

:host {

  .project-item {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: $paragraph-margin;


    .project-item-text {
      flex: 1 1 $project-item-width;
      padding: 0 $app-font-size;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      @include transitions();
    }

    .project-summary {
      margin-bottom: 1rem;
    }

    .project-list-image {
      height: $project-item-height;
      flex: 1 1 $project-item-width;
      overflow: hidden;

      .project-list-bg {
        @include transitions(10s, all linear);
        background-size: cover;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

    }
    &:hover {
      .project-item-text {
        background: rgba($primary-color, 0.05);
      }
      .project-list-bg {
        transform: scale(1.5);
      }
    }
  }

}
