@import 'globals';
@import 'mixins';
@import 'breakpoints';

:host {
  ::ng-deep .project-image {
    $min-height: 350px;
    $max-height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    //min-height: $min-height;
    //max-height: $max-height;
    @include fluid-type($breakpoint-mobile-sm, $breakpoint-max-width, $min-height, $max-height, 'max-height');
    display: flex;
    width: auto;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;


    > .project-image-img {
      max-height: $max-height;
      //visibility: hidden;
      display: none;
    }
  }


  ::ng-deep .project-content {
    /*!* */
    > p {
      margin: $paragraph-margin auto;
      display: flex;
      flex-direction: column;
    }
  }

  ::ng-deep .project-link {
    @include transitions();

    &:hover {
      margin-left: $small-indent-hover;
    }
  }

  ::ng-deep {
    .external {
      top: 5px;
      position: relative;
      opacity: 0.3;
      height: $app-font-size;
      margin-left: $app-font-size;
    }
  }
}

@if ($project-transparent-images) {
  :host-context(.desktop) ::ng-deep .project-image {

    filter: brightness($project-transparent-images);
    @include transitions();

    &:hover {
      filter: brightness(100%);
    }
  }
}
