@import 'globals';

.latte-item {
  min-height: 400px;
  //max-height: 500px;

  font-size: $app-font-size;

  * {
    font-size: $app-font-size;
  }
}

.latte-content {
  height: auto
}

.latte-stage {
  display: flex;
  flex-direction: row;
}

