<div class="app-row home" (click)="clientOs.isMobile && toggleMenu()" *ngIf="{ loading: true } as _">
  <div
    class="jumbo-box"
    [class.show-menu]="showMenu % 2"
    [class.hover-effects]="!(_.loading || clientOs.isMobile)"
    @slideUnder (@slideUnder.done)="_.loading = false"
  >
    <div
      *ngFor="let t of homePage.title" [class.accent]="t.accent"
      class="jumbo-line fade-in slide-under"
    >
      <h1 class="jumbo-huge hover-item link">
        <a class="no-style" [routerLink]="'/' + t.url" [innerHTML]="t.textHover" (click)="$event.stopPropagation()"></a>
      </h1>
      <h1 class="jumbo-huge hover-item hello slide-under-text">
        {{ t.text }}
        <small class="mini" *ngIf="t.mini" [innerHTML]="t.mini"></small>
      </h1>
    </div>
  </div>
  <div class="myself" [class.loading]="_.loading"></div>
</div>

<span class="tap-anywhere" *ngIf="clientOs.isMobile && showMenu < 2" (click)="toggleMenu()">{{ homePage.mobileTap }}</span>
