<div class="home app-row my-0" (click)="toggleMenu()" *ngIf="{ loading: true } as _">
  <div
    class="jumbo-box"
    [class.show-menu]="showMenu"
    [class.hover-effects]="!(_.loading || clientOs.isMobile)"
    @fadeIn (@fadeIn.done)="_.loading = false"
  >
    <div
      *ngFor="let t of homePage.title" [class.accent]="t.accent"
      class="jumbo-line fade-in"
    >
      <h1 class="home-title hover-item link"><a class="no-style" [routerLink]="'/' + t.url" [innerHTML]="t.textHover"></a></h1>
      <h1 class="home-title hover-item hello">
        {{ t.text }}
        <small class="mini" *ngIf="t.mini" [innerHTML]="t.mini"></small>
      </h1>
    </div>
  </div>
  <div class="myself" [class.loading]="_.loading"></div>
</div>

<span class="tap-anywhere" *ngIf="clientOs.isMobile" (click)="toggleMenu()">{{ homePage.mobileTap }}</span>

<!--<img src="assets/images/home/night1.jpeg" alt="night matterhorn" class="img-home" @slide>-->
