@import 'mixins';
@import 'colors';
@import 'globals';
@import 'images';
@import 'breakpoints';

%show-menu {
  > h1.hello {
    display: none;
  }

  > h1.link {
    display: inherit;
  }
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;

  .myself {
    @include transitions(2s);
    position: absolute;
    right: 0;
    width: calc(25% + 300px);
    height: 90%;
    top: 10%;
    overflow: hidden;
    background-image: url($image-nico);
    background-position: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
    @media (max-width: $breakpoint-mobile-sm) {
      opacity: 0.3;
    }

  }
}

.jumbo-box {
  &.show-menu > .jumbo-line {
    margin-left: 0;
    @extend %show-menu;
  }
}

.jumbo-line {
  @include transitions();

  > h1 {
    margin: 15px auto;
    cursor: pointer;
    display: flex;
    min-width: $breakpoint-mobile-sm;

    &.hello {

    }

    &.link {
      display: none;
    }

    > .mini {
      font-size: 30px;
      float: right;
      align-self: center;
      justify-content: center;
      margin-left: 20px;

      @media (max-width: $breakpoint-mobile-sm) {
        font-size: 20px;
      }
    }
  }

  &:hover {
    margin-left: 50px;
    @extend %show-menu;
  }
}

.img-home {
  height: 80%;
  float: right;
}

.tap-anywhere {
  position: fixed;
  bottom: 50px;
  width: 100px;
  left: 50%;
  margin-left: -25px;
  animation: pulse 3s infinite ease-in-out;
}
