<div class="home app-row my-0" @slide>
  <div class="jumbo-box">
    <div class="jumbo-line">
      <h1 class="jumbo hello">Hello World!</h1>
      <h1 class="jumbo link">About</h1>
    </div>
    <div class="jumbo-line accent">
      <h1 class="jumbo hello">Nico Kupfer</h1>
      <h1 class="jumbo link">Contact me</h1>
    </div>
    <div class="jumbo-line">
      <h1 class="jumbo hello">Angular + <small class="mini">lots of<br>other stuff</small></h1>
      <h1 class="jumbo link">My work</h1>
    </div>
  </div>
  <div class="image"></div>
</div>
<img src="assets/images/home/night-matterhorn.jpeg" alt="night matterhorn" class="img-home">
