@import 'colors';
@import 'globals';

#name-logo {
  position: fixed;
  font-size: 20px;
  font-family: 'Monospaced', monospace;
  @if($name-logo-position == 'right') {
    left: calc(100% - #{$name-logo-right});
  }
  @else {
    left: $name-logo-left;
  }
  top: $name-logo-top;
  color: $primary-color-text;
  text-decoration: none;
  transition: all 0.4s;


  > .name-logo-name {

  }
  > .name-logo-url {
    display: none;
  }

  &:hover {
    @if($name-logo-position == 'right') {
      left: calc(100% - #{$name-logo-right-hover});
    }
    @else {
      left: $name-logo-left-hover;
    }
    > .name-logo-name {
      display: none;
    }
    > .name-logo-url {
      display: inherit;
    }
  }
}
