@import 'colors';

:host {
  position: sticky;
  top: 0;
}

a.jumbo {
  display: block;

  &.is-pinned {
    background-color: red;
  }
}

.back-title-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;

  > .back-title-link, > .subtitle {
    font-weight: bold;
  }
}